In [5]:
import yfinance as yf
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [28]:
urlBankStocks = 'https://finance.yahoo.com/u/yahoo-finance/watchlists/bank-and-financial-services-stocks/'
headersRequest = {
    'User-Agent': 'Safari'
}

response = requests.get(urlBankStocks, headers=headersRequest)
response.raise_for_status() 

soup = BeautifulSoup(response.content, 'html.parser')
section = soup.find('section', {'data-test': 'cwl-symbols'})
table = section.find('table')

In [29]:
headers = [th.get_text() for th in table.find_all('th')]
rows = []
for tr in table.find_all('tr')[1:]:  # Ignora la fila de encabezados
    cells = tr.find_all('td')
    row = [cell.get_text(strip=True) for cell in cells]
    rows.append(row)

df = pd.DataFrame(rows, columns=headers)
df.sample(10)

,Symbol,Company Name,Last Price,Change,% Change,Market Time,Volume,Avg Vol (3 month),Market Cap
25,ITUB,Itaú Unibanco Holding S.A.,6.18,-0.03,-0.48%,4:00 PM EDT,11.89M,19.20M,56.30B
28,BCS,Barclays PLC,12.84,-0.10,-0.77%,4:00 PM EDT,9.31M,13.89M,46.58B
2,WFC,Wells Fargo & Company,64.36,-0.02,-0.03%,4:00 PM EDT,19.21M,17.06M,219.07B
11,IBN,ICICI Bank Limited,29.6,+0.72,+2.49%,4:00 PM EDT,4.25M,5.53M,105.81B
21,BNS,The Bank of Nova Scotia,53.54,+0.03,+0.06%,4:00 PM EDT,803.96k,1.62M,66.47B
3,MS,Morgan Stanley,121.06,+1.62,+1.36%,4:00 PM EDT,5.89M,6.02M,195.15B
22,IBKR,"Interactive Brokers Group, Inc.",148.81,-0.62,-0.41%,4:00 PM EDT,766.55k,938.88k,62.92B
1,BAC,Bank of America Corporation,42.32,-0.28,-0.66%,4:00 PM EDT,25.72M,39.15M,325.39B
10,C,Citigroup Inc.,62.85,-1.12,-1.75%,4:00 PM EDT,13.58M,13.06M,118.87B
13,TD,The Toronto-Dominion Bank,56.35,-0.07,-0.12%,4:00 PM EDT,3.11M,2.49M,98.80B