In [149]:
import yfinance as yf
from bs4 import BeautifulSoup
import pandas as pd
import requests
import os
from sqlalchemy import create_engine
from datetime import datetime

### 1. WebScraping de los bancos que pertenecen a la bolsa de valores de estados unidos

In [184]:
urlBankStocks = 'https://finance.yahoo.com/u/yahoo-finance/watchlists/bank-and-financial-services-stocks/'
headersRequest = {
    'User-Agent': 'Safari'
}

response = requests.get(urlBankStocks, headers=headersRequest)
response.raise_for_status() 

soup = BeautifulSoup(response.content, 'html.parser')
section = soup.find('section', {'data-test': 'cwl-symbols'})
table = section.find('table')

In [185]:
headers = [th.get_text() for th in table.find_all('th')]
rows = []
for tr in table.find_all('tr')[1:]: 
    cells = tr.find_all('td')
    row = [cell.get_text(strip=True) for cell in cells]
    rows.append(row)

df = pd.DataFrame(rows, columns=headers)
df.sample(10)

,Symbol,Company Name,Last Price,Change,% Change,Market Time,Volume,Avg Vol (3 month),Market Cap
29,NWG,NatWest Group plc,9.52,-0.02,-0.21%,4:00 PM EDT,1.36M,2.48M,39.63B
1,BAC,Bank of America Corporation,42.32,-0.28,-0.66%,4:00 PM EDT,25.72M,39.15M,325.39B
3,MS,Morgan Stanley,121.06,+1.62,+1.36%,4:00 PM EDT,5.89M,6.02M,195.15B
19,NU,Nu Holdings Ltd.,14.45,+0.29,+2.05%,4:00 PM EDT,14.01M,40.54M,69.21B
7,HDB,HDFC Bank Limited,60.87,-0.01,-0.02%,4:00 PM EDT,4.07M,2.82M,154.83B
14,SMFG,"Sumitomo Mitsui Financial Group, Inc.",13.15,+0.10,+0.77%,4:00 PM EDT,599.32k,1.54M,85.80B
12,UBS,UBS Group AG,32.83,+0.27,+0.83%,4:00 PM EDT,1.02M,1.67M,105.13B
5,GS,"The Goldman Sachs Group, Inc.",528.5,-0.50,-0.09%,4:00 PM EDT,1.78M,1.98M,166.90B
22,IBKR,"Interactive Brokers Group, Inc.",148.81,-0.62,-0.41%,4:00 PM EDT,766.55k,938.88k,62.92B
28,BCS,Barclays PLC,12.84,-0.10,-0.77%,4:00 PM EDT,9.31M,13.89M,46.58B

In [186]:
host = os.getenv("DB_HOST", "localhost")         
database = os.getenv("POSTGRES_DB", "mydb")      
user = os.getenv("POSTGRES_USER", "user")        
password = os.getenv("POSTGRES_PASSWORD", "pass") 
port = os.getenv("POSTGRES_PORT", "5432")        


engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
engine

Engine(postgresql://sib_user:***@localhost:5432/source)

In [187]:
df['Last Price'] = pd.to_numeric(df['Last Price'])

df.to_sql('banks_stocks', con=engine, if_exists='replace', index=False)

30

### 2. Buscar la informacion en yfinance de estos bancos dado el symbol en la tabla banks_stocks

In [208]:
query = 'SELECT * FROM banks_stocks'
result = pd.read_sql(query, engine)
symbols_list = result['Symbol'].unique().tolist()
symbols_list[0:5]

['JPM', 'BAC', 'WFC', 'MS', 'RY']

In [212]:
def get_basic_info(ticker):
    
    info = ticker.info
    return {
        'symbol': ticker.ticker,
        'company_name': info.get('longName'),
        'industry': info.get('industry'),
        'sector': info.get('sector'),
        'employee_count': info.get('fullTimeEmployees'),
        'city': info.get('city'),
        'phone': info.get('phone'),
        'state': info.get('state'),
        'country': info.get('country'),
        'website': info.get('website'),
        'address': info.get('address1')
    }

In [211]:
def get_price_stock(ticker, interval='1d'):
    
    historical_data = ticker.history(period=interval)
    historical_data.reset_index(inplace=True)
    historical_data['symbol'] = ticker.ticker

    return historical_data

In [213]:
def get_fundamental_stock(ticker):
    info = ticker.info
    return {
        'symbol': ticker.ticker,
        'assets': info.get('totalAssets'),
        'debt': info.get('totalDebt'),
        'invested_capital': info.get('investedCapital'),
        'shares_issued': info.get('sharesOutstanding')
    }

In [214]:
basic_info_list = []
price_dfs = []
fundamentals_dfs = []

for symbol in symbols_list:
    stock = yf.Ticker(symbol)

    # Obtener informacion básica del stock
    basic_info_list.append( get_basic_info(stock) )
    
    # Obtener Precios Diarios en Bolsa
    price_dfs.append( get_price_stock(stock) )

    # Obtener Información Fundamental del stock
    fundamentals_dfs.append( get_fundamental_stock(stock) )

In [215]:
# Convertir a DataFrame para la información básica y fundamentales
basic_info_df = pd.DataFrame(basic_info_list)
basic_info_df['creation_dt'] = datetime.now()

fundamentals_df = pd.DataFrame(fundamentals_dfs)
fundamentals_df['creation_dt'] = datetime.now()

# Concatenar todos los DataFrames de precios en uno solo
all_price_data = pd.concat(price_dfs, ignore_index=True)
all_price_data['creation_dt'] = datetime.now()

In [219]:
# Cargar la información básica
basic_info_df.to_sql('bank_basic_info', con=engine, if_exists='append', index=False)

# Cargar los datos de precios
all_price_data.to_sql('daily_stock_prices', con=engine, if_exists='append', index=False)

# Cargar la información de fundamentales
fundamentals_df.to_sql('bank_fundamentals', con=engine, if_exists='append', index=False)

30