In [3]:
import yfinance as yf
from bs4 import BeautifulSoup
import pandas as pd
import requests
import os
from sqlalchemy import create_engine
from datetime import datetime
import time

### 1. WebScraping de los bancos que pertenecen a la bolsa de valores de estados unidos

In [25]:
urlBankStocks = 'https://finance.yahoo.com/u/yahoo-finance/watchlists/bank-and-financial-services-stocks/'
headersRequest = {
    'User-Agent': 'Safari'
}

response = requests.get(urlBankStocks, headers=headersRequest)
response.raise_for_status() 

soup = BeautifulSoup(response.content, 'html.parser')
section = soup.find('section', {'data-test': 'cwl-symbols'})
table = section.find('table')

In [26]:
headers = [th.get_text() for th in table.find_all('th')]
rows = []
for tr in table.find_all('tr')[1:]: 
    cells = tr.find_all('td')
    row = [cell.get_text(strip=True) for cell in cells]
    rows.append(row)

df = pd.DataFrame(rows, columns=headers)
df.sample(10)

,Symbol,Company Name,Last Price,Change,% Change,Market Time,Volume,Avg Vol (3 month),Market Cap
23,TFC,Truist Financial Corporation,43.67,+0.72,+1.68%,4:00 PM EDT,6.45M,7.84M,58.48B
11,IBN,ICICI Bank Limited,29.6,+0.72,+2.49%,4:00 PM EDT,4.25M,5.53M,106.02B
6,HSBC,HSBC Holdings plc,44.72,+0.35,+0.79%,4:00 PM EDT,671.21k,1.44M,162.65B
29,NWG,NatWest Group plc,9.52,-0.02,-0.21%,4:00 PM EDT,1.36M,2.47M,39.63B
4,RY,Royal Bank of Canada,126.05,-0.42,-0.33%,4:00 PM EDT,2.79M,970.43k,178.47B
16,USB,U.S. Bancorp,49.16,-0.81,-1.62%,4:00 PM EDT,9.62M,8.00M,76.71B
5,GS,"The Goldman Sachs Group, Inc.",528.5,-0.50,-0.09%,4:00 PM EDT,1.78M,1.98M,166.90B
2,WFC,Wells Fargo & Company,64.36,-0.02,-0.03%,4:00 PM EDT,19.21M,17.16M,219.07B
20,BMO,Bank of Montreal,94.06,+0.48,+0.51%,4:00 PM EDT,538.86k,1.08M,68.66B
22,IBKR,"Interactive Brokers Group, Inc.",148.81,-0.62,-0.41%,4:00 PM EDT,778.69k,933.24k,62.92B

In [41]:
host = os.getenv("DB_HOST", "localhost")         
database = os.getenv("POSTGRES_DB2", "landing_zone")      
user = os.getenv("POSTGRES_USER", "user")        
password = os.getenv("POSTGRES_PASSWORD", "pass") 
port = os.getenv("POSTGRES_PORT", "5432")        


engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
engine

Engine(postgresql://sib_user:***@localhost:5432/landing_zone)

In [28]:
df['Last Price'] = pd.to_numeric(df['Last Price'])
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

df.to_sql('banks_stocks', con=engine, if_exists='replace', index=False)

30

### 2. Buscar la informacion en yfinance de estos bancos dado el symbol en la tabla banks_stocks

In [30]:
query = 'SELECT * FROM banks_stocks'
result = pd.read_sql(query, engine)
symbols_list = result['symbol'].unique().tolist()
symbols_list[0:5]

['JPM', 'BAC', 'WFC', 'MS', 'RY']

In [31]:
def get_basic_info(ticker):
    
    info = ticker.info
    return {
        'symbol': ticker.ticker,
        'company_name': info.get('longName'),
        'industry': info.get('industry'),
        'sector': info.get('sector'),
        'employee_count': info.get('fullTimeEmployees'),
        'city': info.get('city'),
        'phone': info.get('phone'),
        'state': info.get('state'),
        'country': info.get('country'),
        'website': info.get('website'),
        'address': info.get('address1'),
        'created_at': datetime.now(),
        'updated_at': datetime.now()
    }

In [32]:
def get_price_stock(ticker, interval='1d'):
    
    historical_data = ticker.history(period=interval)
    historical_data.reset_index(inplace=True)
    historical_data['symbol'] = ticker.ticker
    historical_data['created_at'] = datetime.now()
    historical_data['updated_at'] = datetime.now()
    historical_data.columns = historical_data.columns.str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

    return historical_data

In [33]:
def get_fundamental_stock(ticker):
    info = ticker.info
    total_assets = ticker.balance_sheet.loc['Total Assets'].iloc[0] if 'Total Assets' in ticker.balance_sheet.index else None
    invested_capital = ticker.balance_sheet.loc['Invested Capital'].iloc[0] if 'Invested Capital' in ticker.balance_sheet.index else None
    return {
        'symbol': ticker.ticker,
        'assets': total_assets,
        'debt': info.get('totalDebt'),
        'invested_capital': invested_capital,
        'shares_issued': info.get('sharesOutstanding'),
        'created_at': datetime.now(),
        'updated_at': datetime.now()
    }

In [34]:
def get_shares_holders_info(ticker):
    holders = ticker.institutional_holders[['Date Reported', 'Holder', 'Shares', 'Value']]
    
    holders['symbol'] = ticker.ticker
    holders['created_at'] = datetime.now()
    holders['updated_at'] = datetime.now()

    return holders

In [35]:
def get_calificadores(ticker,  start_year=2023, end_year=2024):
    data = ticker.upgrades_downgrades
    
    data.reset_index(inplace=True)

    data['GradeDate'] = pd.to_datetime(data['GradeDate'])
    data_filtered = data[
        (data['GradeDate'].dt.year >= start_year) &
        (data['GradeDate'].dt.year <= end_year)
    ].copy()
    
    data_filtered['symbol'] = ticker.ticker
    data_filtered['created_at'] = datetime.now()
    data_filtered['updated_at'] = datetime.now()
    
    return data_filtered

In [36]:
basic_info_list = []
price_dfs = []
fundamentals_dfs = []
holders_dfs = []
calificadores_dfs = []

for symbol in symbols_list:
    stock = yf.Ticker(symbol)
    
    print('A buscar informacion de: '+symbol)

    #Hacer try except aqui para el caso del symbol bns

    # Obtener informacion básica del stock
    basic_info_list.append( get_basic_info(stock) )
    
    # Obtener Precios Diarios en Bolsa
    price_dfs.append( get_price_stock(stock) )

    # Obtener Información Fundamental del stock
    fundamentals_dfs.append( get_fundamental_stock(stock) )

    # Obtener Información sobre los Holders
    holders_dfs.append( get_shares_holders_info(stock) )

    # Obtener los calificadores
    calificadores_dfs.append( get_calificadores(stock) )

A buscar informacion de: JPM
A buscar informacion de: BAC
A buscar informacion de: WFC
A buscar informacion de: MS
A buscar informacion de: RY
A buscar informacion de: GS
A buscar informacion de: HSBC
A buscar informacion de: HDB
A buscar informacion de: SCHW
A buscar informacion de: MUFG
A buscar informacion de: C
A buscar informacion de: IBN
A buscar informacion de: UBS
A buscar informacion de: TD
A buscar informacion de: SMFG
A buscar informacion de: SAN
A buscar informacion de: USB
A buscar informacion de: PNC
A buscar informacion de: UNCRY
A buscar informacion de: NU
A buscar informacion de: BMO
A buscar informacion de: IBKR
A buscar informacion de: TFC
A buscar informacion de: BBVA
A buscar informacion de: ITUB
A buscar informacion de: BK
A buscar informacion de: ING
A buscar informacion de: BCS
A buscar informacion de: NWG

In [37]:
# Convertir a DataFrame para la información básica
basic_info_df = pd.DataFrame(basic_info_list)

# Convertir a DataFrame para la información de Fundamental
fundamentals_df = pd.DataFrame(fundamentals_dfs)

# Concatenar todos los DataFrames de precios en uno solo
all_price_data = pd.concat(price_dfs, ignore_index=True)

# Concatenar todos los DataFrames de holders en uno solo
all_holders_data = pd.concat(holders_dfs, ignore_index=True)

# Convertir a DataFrame para la información de los calificadores
calificadores_df = pd.concat(calificadores_dfs, ignore_index=True)

In [38]:
all_price_data

,date,open,high,low,close,volume,dividends,stock_splits,symbol,created_at,updated_at
0,2024-10-18 00:00:00-04:00,225.000000,225.919998,223.100006,225.369995,6999900,0.0,0.0,JPM,2024-10-20 22:40:43.356371,2024-10-20 22:40:43.356490
1,2024-10-18 00:00:00-04:00,42.430000,42.650002,42.110001,42.320000,30586400,0.0,0.0,BAC,2024-10-20 22:40:44.230200,2024-10-20 22:40:44.230366
2,2024-10-18 00:00:00-04:00,64.410004,64.779999,63.830002,64.360001,19232900,0.0,0.0,WFC,2024-10-20 22:40:45.090056,2024-10-20 22:40:45.090167
3,2024-10-18 00:00:00-04:00,119.529999,121.120003,119.110001,121.059998,6852400,0.0,0.0,MS,2024-10-20 22:40:45.945103,2024-10-20 22:40:45.945211
4,2024-10-18 00:00:00-04:00,126.269997,126.599998,125.070000,126.050003,2787500,0.0,0.0,RY,2024-10-20 22:40:46.710332,2024-10-20 22:40:46.710444
5,2024-10-18 00:00:00-04:00,529.390015,530.770020,526.869995,528.500000,1779200,0.0,0.0,GS,2024-10-20 22:40:47.609416,2024-10-20 22:40:47.609526
6,2024-10-18 00:00:00-04:00,44.639999,44.759998,44.360001,44.720001,725400,0.0,0.0,HSBC,2024-10-20 22:40:48.378419,2024-10-20 22:40:48.378516
7,2024-10-18 00:00:00-04:00,61.439999,61.549999,60.709999,60.869999,4073600,0.0,0.0,HDB,2024-10-20 22:40:49.155646,2024-10-20 22:40:49.155773
8,2024-10-18 00:00:00-04:00,72.580002,72.610001,71.190002,71.360001,8948100,0.0,0.0,SCHW,2024-10-20 22:40:50.008168,2024-10-20 22:40:50.008294
9,2024-10-18 00:00:00-04:00,10.980000,11.000000,10.900000,10.990000,1531800,0.0,0.0,MUFG,2024-10-20 22:40:50.774578,2024-10-20 22:40:50.774791
10,2024-10-18 00:00:00-04:00,64.120003,64.120003,62.730000,62.849998,13836400,0.0,0.0,C,2024-10-20 22:40:51.625786,2024-10-20 22:40:51.626042
11,2024-10-18 00:00:00-04:00,29.709999,29.780001,29.559999,29.600000,4249900,0.0,0.0,IBN,2024-10-20 22:40:52.431521,2024-10-20 22:40:52.431632
12,2024-10-18 00:00:00-04:00,32.650002,32.884998,32.500000,32.830002,1017000,0.0,0.0,UBS,2024-10-20 22:40:53.272323,2024-10-20 22:40:53.272412
13,2024-10-18 00:00:00-04:00,56.660000,56.709999,56.320000,56.349998,3162200,0.0,0.0,TD,2024-10-20 22:40:54.079705,2024-10-20 22:40:54.079805
14,2024-10-18 00:00:00-04:00,13.100000,13.170000,13.070000,13.150000,599300,0.0,0.0,SMFG,2024-10-20 22:40:54.871504,2024-10-20 22:40:54.871626
15,2024-10-18 00:00:00-04:00,5.020000,5.060000,5.010000,5.040000,2053300,0.0,0.0,SAN,2024-10-20 22:40:55.651571,2024-10-20 22:40:55.651684
16,2024-10-18 00:00:00-04:00,50.110001,50.150002,48.959999,49.160000,10983600,0.0,0.0,USB,2024-10-20 22:40:56.506451,2024-10-20 22:40:56.506553
17,2024-10-18 00:00:00-04:00,190.570007,191.490005,188.009995,189.380005,1852600,0.0,0.0,PNC,2024-10-20 22:40:57.333535,2024-10-20 22:40:57.333629
18,2024-10-18 00:00:00-04:00,21.990000,22.190001,21.987000,22.110001,208500,0.0,0.0,UNCRY,2024-10-20 22:40:58.049832,2024-10-20 22:40:58.049925
19,2024-10-18 00:00:00-04:00,14.320000,14.500000,14.260000,14.450000,14025900,0.0,0.0,NU,2024-10-20 22:40:58.789463,2024-10-20 22:40:58.789678
20,2024-10-18 00:00:00-04:00,93.900002,94.230003,93.300003,94.059998,538900,0.0,0.0,BMO,2024-10-20 22:40:59.694456,2024-10-20 22:40:59.694580
21,2024-10-18 00:00:00-04:00,149.529999,150.300003,148.740005,148.809998,778700,0.0,0.0,IBKR,2024-10-20 22:41:00.467994,2024-10-20 22:41:00.468108
22,2024-10-18 00:00:00-04:00,43.509998,43.790001,42.810001,43.669998,7666500,0.0,0.0,TFC,2024-10-20 22:41:01.253874,2024-10-20 22:41:01.253990
23,2024-10-18 00:00:00-04:00,10.090000,10.120000,10.040000,10.080000,818900,0.0,0.0,BBVA,2024-10-20 22:41:02.129902,2024-10-20 22:41:02.130120
24,2024-10-18 00:00:00-04:00,6.250000,6.260000,6.170000,6.180000,11890900,0.0,0.0,ITUB,2024-10-20 22:41:02.942786,2024-10-20 22:41:02.942905
25,2024-10-18 00:00:00-04:00,77.739998,77.750000,76.500000,76.669998,4827700,0.0,0.0,BK,2024-10-20 22:41:03.779999,2024-10-20 22:41:03.780139
26,2024-10-18 00:00:00-04:00,17.340000,17.410000,17.250000,17.379999,891300,0.0,0.0,ING,2024-10-20 22:41:04.551532,2024-10-20 22:41:04.551648
27,2024-10-18 00:00:00-04:00,12.820000,12.870000,12.710000,12.840000,9332700,0.0,0.0,BCS,2024-10-20 22:41:05.325778,2024-10-20 22:41:05.325885
28,2024-10-18 00:00:00-04:00,9.470000,9.540000,9.420000,9.520000,1358000,0.0,0.0,NWG,2024-10-20 22:41:06.097338,2024-10-20 22:41:06.097426

In [39]:
# Cargar la información básica
basic_info_df.to_sql('bank_basic_info', con=engine, if_exists='append', index=False)

# Cargar los datos de precios
all_price_data.to_sql('daily_stock_prices', con=engine, if_exists='append', index=False)

# Cargar la información de fundamentales
fundamentals_df.to_sql('bank_fundamentals', con=engine, if_exists='append', index=False)

# Cargar la información de holders
all_holders_data.to_sql('stock_holders', con=engine, if_exists='append', index=False)

# Cargar la información de los calificadores
calificadores_df.to_sql('stock_calificadores', con=engine, if_exists='append', index=False)

100