In [149]:
import yfinance as yf
from bs4 import BeautifulSoup
import pandas as pd
import requests
import os
from sqlalchemy import create_engine
from datetime import datetime

### 1. WebScraping de los bancos que pertenecen a la bolsa de valores de estados unidos

In [184]:
urlBankStocks = 'https://finance.yahoo.com/u/yahoo-finance/watchlists/bank-and-financial-services-stocks/'
headersRequest = {
    'User-Agent': 'Safari'
}

response = requests.get(urlBankStocks, headers=headersRequest)
response.raise_for_status() 

soup = BeautifulSoup(response.content, 'html.parser')
section = soup.find('section', {'data-test': 'cwl-symbols'})
table = section.find('table')

In [185]:
headers = [th.get_text() for th in table.find_all('th')]
rows = []
for tr in table.find_all('tr')[1:]: 
    cells = tr.find_all('td')
    row = [cell.get_text(strip=True) for cell in cells]
    rows.append(row)

df = pd.DataFrame(rows, columns=headers)
df.sample(10)

,Symbol,Company Name,Last Price,Change,% Change,Market Time,Volume,Avg Vol (3 month),Market Cap
29,NWG,NatWest Group plc,9.52,-0.02,-0.21%,4:00 PM EDT,1.36M,2.48M,39.63B
1,BAC,Bank of America Corporation,42.32,-0.28,-0.66%,4:00 PM EDT,25.72M,39.15M,325.39B
3,MS,Morgan Stanley,121.06,+1.62,+1.36%,4:00 PM EDT,5.89M,6.02M,195.15B
19,NU,Nu Holdings Ltd.,14.45,+0.29,+2.05%,4:00 PM EDT,14.01M,40.54M,69.21B
7,HDB,HDFC Bank Limited,60.87,-0.01,-0.02%,4:00 PM EDT,4.07M,2.82M,154.83B
14,SMFG,"Sumitomo Mitsui Financial Group, Inc.",13.15,+0.10,+0.77%,4:00 PM EDT,599.32k,1.54M,85.80B
12,UBS,UBS Group AG,32.83,+0.27,+0.83%,4:00 PM EDT,1.02M,1.67M,105.13B
5,GS,"The Goldman Sachs Group, Inc.",528.5,-0.50,-0.09%,4:00 PM EDT,1.78M,1.98M,166.90B
22,IBKR,"Interactive Brokers Group, Inc.",148.81,-0.62,-0.41%,4:00 PM EDT,766.55k,938.88k,62.92B
28,BCS,Barclays PLC,12.84,-0.10,-0.77%,4:00 PM EDT,9.31M,13.89M,46.58B

In [186]:
host = os.getenv("DB_HOST", "localhost")         
database = os.getenv("POSTGRES_DB", "mydb")      
user = os.getenv("POSTGRES_USER", "user")        
password = os.getenv("POSTGRES_PASSWORD", "pass") 
port = os.getenv("POSTGRES_PORT", "5432")        


engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
engine

Engine(postgresql://sib_user:***@localhost:5432/source)

In [187]:
df['Last Price'] = pd.to_numeric(df['Last Price'])

df.to_sql('banks_stocks', con=engine, if_exists='replace', index=False)

30

### 2. Buscar la informacion en yfinance de estos bancos dado el symbol en la tabla banks_stocks

In [223]:
query = 'SELECT * FROM banks_stocks limit 1'
result = pd.read_sql(query, engine)
symbols_list = result['Symbol'].unique().tolist()
symbols_list[0:5]

['JPM']

In [259]:
def get_basic_info(ticker):
    
    info = ticker.info
    return {
        'symbol': ticker.ticker,
        'company_name': info.get('longName'),
        'industry': info.get('industry'),
        'sector': info.get('sector'),
        'employee_count': info.get('fullTimeEmployees'),
        'city': info.get('city'),
        'phone': info.get('phone'),
        'state': info.get('state'),
        'country': info.get('country'),
        'website': info.get('website'),
        'address': info.get('address1'),
        'creation_dt': datetime.now()
    }

In [260]:
def get_price_stock(ticker, interval='1d'):
    
    historical_data = ticker.history(period=interval)
    historical_data.reset_index(inplace=True)
    historical_data['symbol'] = ticker.ticker
    historical_data['creation_dt'] = datetime.now()

    return historical_data

In [261]:
def get_fundamental_stock(ticker):
    info = ticker.info
    total_assets = ticker.balance_sheet.loc['Total Assets'].iloc[0] if 'Total Assets' in ticker.balance_sheet.index else None
    invested_capital = ticker.balance_sheet.loc['Invested Capital'].iloc[0] if 'Invested Capital' in ticker.balance_sheet.index else None
    return {
        'symbol': ticker.ticker,
        'assets': total_assets,
        'debt': info.get('totalDebt'),
        'invested_capital': invested_capital,
        'shares_issued': info.get('sharesOutstanding'),
        'creation_dt': datetime.now()
    }

In [262]:
def get_shares_holders_info(ticker):
    holders = ticker.institutional_holders[['Date Reported', 'Holder', 'Shares', 'Value']]
    holders['symbol'] = ticker.ticker
    holders['creation_dt'] = datetime.now()

    return holders

In [286]:
def get_calificadores(ticker,  start_year=2023, end_year=2024):
    data = ticker.upgrades_downgrades
    
    data.reset_index(inplace=True)

    data['GradeDate'] = pd.to_datetime(data['GradeDate'])
    data_filtered = data[
        (data['GradeDate'].dt.year >= start_year) &
        (data['GradeDate'].dt.year <= end_year)
    ].copy()
    
    data_filtered['symbol'] = ticker.ticker
    data_filtered['creation_dt'] = datetime.now()
    
    return data_filtered

In [287]:
basic_info_list = []
price_dfs = []
fundamentals_dfs = []
holders_dfs = []
calificadores_dfs = []

for symbol in symbols_list:
    stock = yf.Ticker(symbol)
    
    # Obtener informacion básica del stock
    basic_info_list.append( get_basic_info(stock) )
    
    # Obtener Precios Diarios en Bolsa
    price_dfs.append( get_price_stock(stock) )

    # Obtener Información Fundamental del stock
    fundamentals_dfs.append( get_fundamental_stock(stock) )

    # Obtener Información sobre los Holders
    holders_dfs.append( get_shares_holders_info(stock) )

    # Obtener los calificadores
    calificadores_dfs.append( get_calificadores(stock) )

In [288]:
# Convertir a DataFrame para la información básica
basic_info_df = pd.DataFrame(basic_info_list)

# Convertir a DataFrame para la información de Fundamental
fundamentals_df = pd.DataFrame(fundamentals_dfs)

# Concatenar todos los DataFrames de precios en uno solo
all_price_data = pd.concat(price_dfs, ignore_index=True)

# Concatenar todos los DataFrames de holders en uno solo
all_holders_data = pd.concat(holders_dfs, ignore_index=True)

# Convertir a DataFrame para la información de los calificadores
calificadores_df = pd.concat(calificadores_dfs, ignore_index=True)

In [289]:
calificadores_df

,GradeDate,Firm,ToGrade,FromGrade,Action,symbol,creation_dt
0,2024-10-14 15:34:37,Oppenheimer,Outperform,Outperform,main,JPM,2024-10-19 11:38:46.455571
1,2024-10-14 14:22:21,Barclays,Overweight,Overweight,main,JPM,2024-10-19 11:38:46.455571
2,2024-10-14 13:48:16,RBC Capital,Outperform,Outperform,main,JPM,2024-10-19 11:38:46.455571
3,2024-10-14 12:59:32,Evercore ISI Group,Outperform,Outperform,main,JPM,2024-10-19 11:38:46.455571
4,2024-10-02 13:55:16,Oppenheimer,Outperform,Outperform,main,JPM,2024-10-19 11:38:46.455571
...,...,...,...,...,...,...,...
94,2023-01-17 17:42:41,Oppenheimer,Outperform,,main,JPM,2024-10-19 11:38:46.455571
95,2023-01-17 14:48:51,Morgan Stanley,Overweight,,main,JPM,2024-10-19 11:38:46.455571
96,2023-01-17 11:50:04,Piper Sandler,Overweight,,main,JPM,2024-10-19 11:38:46.455571
97,2023-01-06 10:11:24,Deutsche Bank,Hold,Buy,down,JPM,2024-10-19 11:38:46.455571
98,2023-01-03 12:01:59,Barclays,Overweight,,main,JPM,2024-10-19 11:38:46.455571

In [219]:
# Cargar la información básica
basic_info_df.to_sql('bank_basic_info', con=engine, if_exists='append', index=False)

# Cargar los datos de precios
all_price_data.to_sql('daily_stock_prices', con=engine, if_exists='append', index=False)

# Cargar la información de fundamentales
fundamentals_df.to_sql('bank_fundamentals', con=engine, if_exists='append', index=False)

# Cargar la información de holders
all_holders_data.to_sql('stock_holders', con=engine, if_exists='append', index=False)

# Cargar la información de los calificadores
calificadores_df.to_sql('stock_calificadores', con=engine, if_exists='append', index=False)

30